.highlight {
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
}
.bold {
  padding-left: 1rem;
  font-weight: 700;
}
.red {
  background-color: lightcoral;
}
.blue {
  background-color: lightblue;
  
}
.gray {
  background-color: #9da0a8;
  text-align: center;
}

a:link, a:visited {
  border-radius: 0.4rem;
  background-color: #ffffff;
  color: rgb(94, 94, 94);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(250, 220, 181);
}
